<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        cooper默认的类容模版展示
    </h1>
    <br>
    id<%=id%>
    <br>
    <br>
    title<%=title%>
    <br>
    content<%=content%>


</body>

</html>